* {
  font-size: 14px;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #f3f7f9;
}

#root {
  max-width: 100%;
  margin: 0 auto;

  p.title {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  span.status {
    color: #fff;
    font-size: 0.8rem;
    padding: 2px 10px;
    border-radius: 4px;
    background-color: #56b586;
    border: 1px solid #56b586;
    &.pending {
      color: #333;
      background-color: #fff;
      border: 1px solid #fd6542;
    }
  }

  button.back-button {
    height: 2rem;
    font-size: 0.8rem;
    padding: 2px 10px;
    border-radius: 4px;
    margin-top: 1rem;
    color: #fd6542;
    background-color: #fff;
    border: 1px solid #fd6542;
  }

  .transaction-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

    .loading {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      .greating {
        font-weight: 600;
        font-size: 1.5rem;
      }
      .info .price {
        color: #fd6542;
      }
    }

    .filter {
      height: 45px;
      display: flex;
      flex-wrap: wrap;
      background-color: #fff;
      border-radius: 5px;
      border: 1px solid #ced4da;
      margin: 10px 0;
      .search {
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        border-right: 1px solid #ddd;
        .icon-search {
          color: #ddd;
          float: left;
          height: 100%;
          display: grid;
          place-items: center;
          margin: 0 30px 0 20px;
        }
        .input-search {
          height: 100%;
          display: grid;
          place-items: center;
          input {
            height: 100%;
            width: 100%;
            border: none;
            background-color: transparent;
            &:focus-visible {
              outline: none;
            }
            &::-webkit-input-placeholder {
              /* Edge */
              color: #afafaf;
            }
            &:-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: #afafaf;
            }
            &::placeholder {
              color: #afafaf;
            }
          }
        }
      }
      .sort {
        margin: 0 20px;
        select {
          height: 100%;
          border: none;
          &:focus-visible {
            outline: none;
          }
        }
      }
    }

    .transaction-card {
      padding: 1rem;
      margin-top: 1rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-left: 4px solid #56b586;
      border-radius: 3px;
      cursor: pointer;
      &.pending {
        border-left: 4px solid #fd6542;
      }

      .bank {
        display: flex;
        align-items: center;
        color: #333;
        font-weight: bolder;
        svg {
          font-size: 1.2rem;
        }
      }

      .receiver {
        margin: 3px 0;
      }

      .nominal {
        display: flex;
        align-items: center;
      }
    }
  }

  .transaction-detail {
    color: #333;
    .header {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      padding: 1rem;
    }

    .transaction-id {
      display: flex;
      align-items: center;
      border-radius: 5px;
      font-weight: 600;
    }

    .detail {
      padding: 1rem;
      display: flex;
      margin-top: 1rem;
      background-color: #fff;
      .icon {
        color: #fd6542;
        margin-right: 1rem;
        svg {
          font-size: 2.5rem;
        }
      }
      .sub-detail {
        margin-bottom: 1rem;
        .label {
          font-weight: 600;
        }
      }
    }
  }
}

//------------------------- Breakpoints Responsive Page -------------------------
@media (min-width: 576px) {
  #root {
    max-width: 85%;
  }
}

@media (min-width: 768px) {
  #root {
    max-width: 75%;
  }
}

@media (min-width: 992px) {
  #root {
    max-width: 50%;
  }
}
